[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alabaster = "*"
argh = "*"
astroid = "*"
atomicwrites = "*"
attrs = "*"
autopep8 = "*"
bleach = "*"
certifi = "*"
chardet = "*"
decorator = "*"
doc8 = "*"
docutils = "*"
ffn = "*"
future = "*"
idna = "*"
imagesize = "*"
isort = "*"
joblib = "*"
kiwisolver = "*"
lazy-object-proxy = "*"
livereload = "*"
lxml = "*"
matplotlib = "*"
mccabe = "*"
more-itertools = "*"
numpy = "*"
pandas = "*"
pandas-datareader = "*"
pathtools = "*"
pbr = "*"
pkginfo = "*"
pluggy = "*"
port-for = "*"
py = "*"
pycodestyle = "*"
pylint = "*"
pyparsing = "*"
pytest = "*"
python-dateutil = "*"
pytz = "*"
readme-renderer = "*"
requests = "*"
requests-toolbelt = "*"
restructuredtext-lint = "*"
seaborn = "*"
six = "*"
snowballstemmer = "*"
sphinx-autobuild = "*"
sphinxcontrib-applehelp = "*"
sphinxcontrib-devhelp = "*"
sphinxcontrib-htmlhelp = "*"
sphinxcontrib-jsmath = "*"
sphinxcontrib-qthelp = "*"
sphinxcontrib-serializinghtml = "*"
stevedore = "*"
tabulate = "*"
tornado = "*"
tqdm = "*"
twine = "*"
typed-ast = "*"
urllib3 = "*"
watchdog = "*"
wcwidth = "*"
webencodings = "*"
wrapt = "*"
Babel = "*"
Cycler = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pygments = "*"
PyYAML = "*"
Sphinx = "*"

[requires]
python_version = "3.8"
